*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #232c33;
}

@font-face  {
            font-family: Jersey; 
            src: url(../fonts/20442.ttf); 
            }
			
@font-face  {
            font-family: Curve;
            src: url(../fonts/17643.otf);
            }
			
h1          {
            position:absolute;
            top: 0.2em;
            font-family: Curve;
            font-size: 48pt;
			text-align:center;
            
            }

p           {
            font-family: Jersey;
            font-size: 24pt;
			text-align:center;
            }
			
p2          {
            font-family: Jersey;
            font-size: 48pt;
			text-align:center;
            }
.bgimg1 {
	/*background-image: url('../images/chevron.png');*/
        }

.bgimg2 {
    /* Background image */
    background-image: url('../images/space.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: Jersey;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.buttpose {  
    transform: translate(-50%, -50%);
	position: absolute;
	top: 75%;
	left: 50%;
    text-align: center;
}

.buttstyle {
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: Jersey;
}

.navMenu {
    position: relative;
    height: 500px;
    width: 70px;
    background: #2b343b;
    box-shadow: 10px 0 0 #4187f6;
    border-left: 10px solid #2b343b;
    overflow-x: hidden;
    transition: width 0.5s
}

.navMenu:hover
{
    width: 150px;
}

.navMenu ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 150px;
}

.navMenu ul li
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navMenu ul li.active
{
    background: #4187f6;

}

.navMenu ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navMenu ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navMenu ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5em;
    z-index: 1;

}

.navMenu ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 50px;
    white-space: nowrap;

}

